.text {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 1000px;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 2rem;
}

.word {
  margin: 0.37rem;
}

.word.active {
}

.word.future {
  color: grey;
}

.letter.correct {
  color: green;
}

.letter.incorrect {
  color: red;
}
