#text {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 2rem;
}

.word {
  margin-top: 0.37rem;
  margin-bottom: 0.37rem;
  /* padding-right: 1px; */
}

.word.active {
}

.word.future {
  color: grey;
}

.letter {
  box-sizing: border-box;
  padding-right: 3px;
  padding-bottom: 2px;
}

.letter.correct {
  color: green;
}

.letter.incorrect {
  color: red;
}

.letter.cursor {
  border-right: 3px solid black;
  padding-right: 0px;
}

.letter.ghostCursor {
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 0px;
}

.letter.space {
  /* width: 1ch;
  height: 2rem;
  display: inline-block; */
  color: #fffcf7;
}
